<a href="https://colab.research.google.com/github/shivjain123/Kaggle_Demographic/blob/master/C_138_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d gspmoreira/articles-sharing-reading-from-cit-deskdrop

In [4]:
!unzip articles-sharing-reading-from-cit-deskdrop.zip

Archive:  articles-sharing-reading-from-cit-deskdrop.zip
  inflating: shared_articles.csv
  inflating: users_interactions.csv

In [5]:
users_interactions = pd.read_csv('/content/users_interactions.csv')
shared_articles = pd.read_csv('/content/shared_articles.csv')

shared_articles.head(3)

    timestamp  ... lang
0  1459192779  ...   en
1  1459193988  ...   en
2  1459194146  ...   en

[3 rows x 13 columns]

In [6]:
shared_articles = shared_articles[shared_articles["eventType"] == "CONTENT SHARED"]
shared_articles.head(5)

    timestamp  ... lang
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en
5  1459194522  ...   en

[5 rows x 13 columns]

In [14]:
users_interactions["eventType"].head(25)

0       VIEW
1       VIEW
2       VIEW
3     FOLLOW
4       VIEW
5       VIEW
6       VIEW
7       VIEW
8       VIEW
9       VIEW
10      VIEW
11      VIEW
12      VIEW
13      VIEW
14      VIEW
15      VIEW
16      VIEW
17      VIEW
18      VIEW
19      VIEW
20      VIEW
21      VIEW
22      VIEW
23      VIEW
24      VIEW
Name: eventType, dtype: object

In [15]:
def findTotalEvents(rowdf):
  total_views = users_interactions[(users_interactions['contentId'] == rowdf['contentId']) & (users_interactions['eventType'] == "VIEW")].shape[0]
  total_likes = users_interactions[(users_interactions['contentId'] == rowdf['contentId']) & (users_interactions['eventType'] == "LIKE")].shape[0]
  total_bookmarks = users_interactions[(users_interactions['contentId'] == rowdf['contentId']) & (users_interactions['eventType'] == "BOOKMARK")].shape[0]
  total_follows = users_interactions[(users_interactions['contentId'] == rowdf['contentId']) & (users_interactions['eventType'] == "FOLLOW")].shape[0]
  total_commentCreated = users_interactions[(users_interactions['contentId'] == rowdf['contentId']) & (users_interactions['eventType'] == "COMMENT CREATED")].shape[0]
  summation = total_views + total_likes + total_bookmarks + total_follows + total_commentCreated
  return summation

In [ ]:
shared_articles["Total Events"] = shared_articles.apply(findTotalEvents, axis = 1)
shared_articles["Total Events"].head()

In [ ]:
shared_articles = shared_articles.sort_values(["Total Events"], ascending=[False])
shared_articles.head()